<aside id="sidebar_main">

    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="" class="sSidebar_hide"><img src="/assets/img/logo_main.png" alt="" height="15" width="71"/></a>
            <a href="" class="sSidebar_show"><img src="/assets/img/logo_main_small.png" alt="" height="32" width="32"/></a>
        </div>
    </div>

    <div class="menu_section">
        <ul>
            <li title="Dashboard">
                <a href="/admin">
                    <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                    <span class="menu_title">Home</span>
                </a>
            </li>
            <li title="Mailbox">
                <a href="/admin/pengguna">
                    <span class="menu_icon"><i class="material-icons">&#xE158;</i></span>
                    <span class="menu_title">Pengguna</span>
                </a>
            </li>
            <li title="Invoices">
                <a href="/admin/jadwalpiket">
                    <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                    <span class="menu_title">Jadwal Piket</span>
                </a>
            </li>
            <li  title="Chat">
                <a href="page_chat.html">
                    <span class="menu_icon"><i class="material-icons">&#xE0B9;</i></span>
                    <span class="menu_title">Rekapitulasi</span>
                </a>
            </li>
            <li title="Scrum Board">
                <a href="page_scrum_board.html">
                    <span class="menu_icon"><i class="material-icons">&#xE85C;</i></span>
                    <span class="menu_title">Checklist piket</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
