<aside id="sidebar_main">

    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="" class="sSidebar_hide"><img src="/assets/img/logo5rsmart.png" alt="" height="15" width="71"/></a>
            <a href="" class="sSidebar_show"><img src="/assets/img/logo5rsmart.png" alt="" height="32" width="32"/></a>
        </div>
    </div>

    <div class="menu_section">
        <ul>
            <li title="Dashboard">
                <a href="/admin">
                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xe88a;</i></span>
                    <span class="menu_title">Home</span>
                </a>
            </li>
            <li title="Pengguna">
                <a href="/admin/pengguna">

                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xe87c;</i></span>
                    <span class="menu_title">Pengguna</span>
                </a>
            </li>
            <li title="Artikel">
                <a href="/admin/artikel">
                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xe85d;</i></span>
                    <span class="menu_title">Artikel</span>
                </a>
            </li>
            <li title="Jadwal Piket">
                <a href="/admin/jadwalpiket">
                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xe878;</i></span>
                    <span class="menu_title">Jadwal Piket</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xe8e8;</i></span>
                    <span class="menu_title">Checklist piket</span>
                </a>
                <ul>
                    <li><a href="/admin/checklistruang">Checklist Ruang</a></li>
                    <li><a href="/admin/checklistmeja">Checklist Meja</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE241;</i></span>
                    <span class="menu_title">Rekapitulasi</span>
                </a>
                <ul>
                    <li>
                        <a href="#">Skor Ruang</a>
                        <ul>
                            <li>
                                <a href="/admin/skorruang">Level 1</a>
                            </li>
                            <li>
                                <a href="#">Level 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Skor Meja</a>
                        <ul>
                            <li>
                                <a href="#">Level 1</a>
                            </li>
                            <li>
                                <a href="#">Level 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons md-36 uk-text-success">&#xE8F1;</i></span>
                    <span class="menu_title">Bukti Temuan</span>
                </a>
                <ul>
                    <li><a href="layout_header_full.html">Temuan Ruang</a></li>
                    <li><a href="layout_header_full.html">Temuan Meja</a></li>
                    <li><a href="layout_header_full.html">Tindak Lanjut Ruang</a></li>
                    <li><a href="layout_header_full.html">Tindak Lanjut Meja</a></li>

                </ul>
            </li>

        </ul>
    </div>
</aside>
