
<div class="md-card">
<form action="/admin/pengguna" method="post">
    <div class="md-card-content">
        <h3 class="heading_a">Tambah Pengguna</h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium">
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2">
                            <label>NIK</label>
                            <input id='nik' name='nik' type="text" class="md-input" />
                        </div>

                        <div class="uk-width-medium-1-2">
                            <label>Nama</label>
                            <input id='nama' name='nama' type="text" class="md-input" />
                        </div>
                    </div>


                </div>
                <div class="uk-form-row">
                  <div class="uk-grid">
                      <div class="uk-width-medium-1-2">
                          <label>Username</label>
                          <input id='username' name= 'username' type="text" class="md-input"  />
                      </div>
                      <div class="uk-width-medium-1-2">
                          <label>Password</label>
                          <input id='password' name= 'password' type="password" class="md-input"  />
                      </div>
                  </div>
                </div>

                <div class="uk-form-row">
                  <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <label>Peran</label>
                        <input id='peran' name='peran' type="text" class="md-input"  />
                    </div>

                    <div class="uk-width-medium-1-2">
                        <label>Poin Meja</label>
                        <input id='poin_meja' name='poin_meja' type="number" class="md-input"  />
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1">
                <div class="uk-input-group">
                    <!-- <span class="uk-input-group-addon"><a class="md-btn" type="submit" >Save</a></span> -->
                    <!-- <button type="submit" name="button">Save</button> -->
                        <button type="submit" name="button">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>



  <!-- <form  action="/admin/pengguna" method="post">

    <p>NIK</p>
    <input type="text" name="nik">
    <p>Username</p>
    <input type="text" name="username">
    <p>peran</p>
    <input type="text" name="peran">
    <p>Nama</p>
    <input type="text" name="nama">
    <p>Poin Meja</p>
    <input type="text" name="poin_meja">
    <p>Password</p>
    <input type="password" name="password">
    <input type="submit" value="Sign up">


  </form> -->

</div>
