<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <%- include('head'); %>

    <!-- chartist -->
    <link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css">


</head>
<body class="top_menu md-bg-grey-200">
    <!-- main header -->
    <%- include('header'); %>
    <!-- main header end -->
    <!-- main sidebar -->
    <%- include('top_bar'); %>

    <!-- main sidebar end -->
    <div id="page_content">
        <div id="page_content_inner">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-3-10">
                          <form class="uk-form-stacked" action="/fasilitator/rekapitulasi/meja/filter-bulanan" method="POST">
                            <label for="kUI_datepicker_b" class="uk-form-label">Bulanan</label>
                            <input name="tanggal" id="kUI_datepicker_b" value="" />
                                <button type="submit" class="md-btn md-btn-primary uk-margin-small-top">Filter</button>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- common functions -->
    <script src="/assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="/assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="/assets/js/altair_admin_common.min.js"></script>

    <script src="/assets/js/kendoui_custom.min.js"></script>

    <!--  kendoui functions -->
    <script src="/assets/js/pages/kendoui.min.js"></script>

    <!-- d3 -->
    <!-- metrics graphics (charts) -->
    <!-- chartist -->
    <script src="/bower_components/chartist/dist/chartist.min.js"></script>






    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }

        });


    </script>


</body>
</html>
