<div class="md-top-bar">
    <ul id="menu_top" class="uk-clearfix">
        <li><a href="/anggota"><i class="material-icons md-24">&#xE88A;</i></a></li>


        <li data-uk-dropdown>
            <a href="#">Checklist Piket</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="/anggota/jadwalpiket">Jadwal Piket</a></li>
                    <li><a href="forms_regular.html">Checklist Ruang</a></li>
                    <li><a href="forms_advanced.html">Checklist Meja</a></li>
                </ul>
            </div>
        </li>
        <li data-uk-dropdown>
            <a href="#">Rekapitulasi</a>
            <div class="uk-dropdown uk-dropdown-scrollable">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="components_accordion.html">Piket Ruang</a></li>
                    <li><a href="components_buttons.html">Piket Meja</a></li>
                    <li><a href="components_cards.html">Bukti Temuan</a></li>
                </ul>
            </div>
        </li>

    </ul>
</div>
