<div class="md-bg-grey-800 " id="top_bar">
<div class=" md-top-bar ">
  <!-- <nav class="uk-navbar"> -->
    <ul id="menu_top" class="uk-clearfix ">
        <li><a href="/anggota"><i class="md-color-light-green-400 material-icons md-24">&#xE88A;</i></a></li>
        <li data-uk-dropdown="{mode:'click'}">
            <a class="md-color-light-green-400 uk-text-small" href="#">Piket</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="/anggota/jadwalpiket">Jadwal Piket</a></li>
                    <li>
                      <a href="/anggota/checklistpiket">Checklist Piket
                        <span class="uk-badge uk-badge-notification uk-badge-danger">  <%= belumchecheklist %> </span>

                      </a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-uk-dropdown="{mode:'click'}">
            <a class="md-color-light-green-400 uk-text-small" href="#">Temuan</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                  <li class="uk-nav-header">Bukti Temuan</li>
                  <li><a href="/anggota/buktitemuan/ruang">Ruang</a></li>
                  <li><a href="/anggota/buktitemuan/meja">Meja</a></li>
                  <li class="uk-nav-header">Tindak Lanjut</li>
                  <li><a href="/anggota/tindaklanjut/ruang">Ruang</a></li>
                  <li><a href="/anggota/tindaklanjut/meja">Meja</a></li>
                </ul>
            </div>
        </li>
        <li data-uk-dropdown="{mode:'click'}">
            <a class="md-color-light-green-400 uk-text-small" href="#">Rekapitulasi</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                  <li class="uk-nav-header">Rekapitulasi</li>
                  <li><a href="/anggota/rekapitulasi/ruang">Ruang</a></li>
                  <li><a href="/anggota/rekapitulasi/meja">Meja</a></li>
                </ul>
            </div>
        </li>
        <!-- <li data-uk-dropdown="{mode:'click'}" >
            <a class="md-color-light-green-400 uk-text-small" href="#">Rekapitulasi</a>
            <div class="uk-dropdown uk-dropdown-scrollable">
                <ul class="uk-nav uk-nav-dropdown">
                </ul>
            </div>
            <div class="uk-dropdown uk-dropdown-width-2">
                <div class="uk-grid uk-dropdown-grid"> -->
                    <!-- <div class="uk-width-1-3">
                        <ul class="uk-nav uk-nav-dropdown uk-panel">
                            <li class="uk-nav-header">Piket</li>
                            <li><a href="/anggota/jadwalpiket">Jadwal Piket</a></li>
                            <li><a href="/anggota/checklistpiket">Checklist Piket</a></li>
                        </ul>
                    </div> -->
                    <!-- <div class="uk-width-1-2">
                        <ul class="uk-nav uk-nav-dropdown uk-panel">
                            <li class="uk-nav-header">Rekapitulasi</li>
                            <li><a href="/anggota/rekapitulasi/ruang">Ruang</a></li>
                            <li><a href="/anggota/rekapitulasi/meja">Meja</a></li> -->
                            <!-- <li class="uk-nav-divider"></li>
                            <li><a href="#">Separated item</a></li> -->
                        <!-- </ul>
                    </div>
                    <div class="uk-width-1-2">
                        <ul class="uk-nav uk-nav-dropdown uk-panel">
                            <li class="uk-nav-header">Bukti Temuan</li>
                            <li><a href="/anggota/buktitemuan/meja">Bukti Temuan</a></li>
                            <li><a href="#">Another item</a></li> -->
                            <!-- <li class="uk-nav-divider"></li>
                            <li><a href="#">Separated item</a></li> -->
                        <!-- </ul>
                    </div>
                </div>
            </div>
        </li> -->



    </ul>
    <!-- </nav> -->
</div>
</div>
