<div class="md-bg-grey-800" id="top_bar">

<div class="md-top-bar">
    <ul id="menu_top" class="uk-clearfix">
        <li><a href="/anggota"><i class="md-color-light-green-400 material-icons md-24">&#xE88A;</i></a></li>
        <li data-uk-dropdown="{mode:'click'}">
            <a class="md-color-light-green-400" href="#">Checklist Piket</a>
            <div class="uk-dropdown">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="/anggota/jadwalpiket">Jadwal Piket</a></li>
                    <li><a href="/anggota/checklistpiket">Checklist Piket</a></li>
                    <!-- <li><a href="/anggota/checklistruang">Checklist Ruang</a></li> -->
                    <!-- <li><a href="/anggota/checklistmeja">Checklist Meja</a></li> -->
                </ul>
            </div>
        </li>
        <li data-uk-dropdown="{mode:'click'}>
            <a class="md-color-light-green-400" href="#">Rekapitulasi</a>
            <div class="uk-dropdown uk-dropdown-scrollable">
                <ul class="uk-nav uk-nav-dropdown">
                    <li><a href="/anggota/rekapitulasi/ruang">Piket Ruang</a></li>
                    <li><a href="/anggota/rekapitulasi/meja">Piket Meja</a></li>
                    <li><a href="components_cards.html">Bukti Temuan</a></li>
                </ul>
            </div>
        </li>

    </ul>
</div>
</div>
